




 .carousel-inner img {
      width: 100%;
      height: auto;
  }

  .md-img{  	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#footer{
	color:#994d00;	
	font-family: 'Roboto', sans-serif;
	font-size: .9rem;
}

.name-text{
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	color: #313451;
	
}

.section-text-lg{
	font-family: 'Rubik', sans-serif;
	font-size: 1.3rem;
	color: #994d00;
	text-align: justify;
}


  
.section-text{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	text-align: justify;
}

.my-col{
	border-left: 1px dashed #ff0000;
}

.my-font{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #3f194f;
	text-align: justify;
}

.card-text{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	text-align: justify;
}

.my-table  th{
	
	font-size: 1rem;
	color: #fff;
	text-align: justify;

}
.my-table  td{
	font-family: 'Rubik', sans-serif;
	font-size: .9rem;
	color: #996600;
	text-align: justify;

}